@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* | CSS RESET | ------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* | GENERAL | --------------------------------------- */
h1, p, a {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.spqr { font-family: 'Times New Roman', Times, serif; }

/* | MENU STYLES | ----------------------------------- */
header {
    background: linear-gradient(to right, #663399, #2e104d);
}

li { list-style-type: none; }

a {
    color: gold;
    text-decoration: none;
}

.nav-logo { font-size: 2rem; }

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link:hover { color: white; }

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* | MENU MEDIA QUERY | ------------------------------ */
@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    /* When icon is clicked, bars make 'x' */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Hides menu once width shrinks to 768px */
    /* When active, menu parameters are set */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: linear-gradient(to right, #663399, #2e104d);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item { margin: 16px 0; }

    /* menu behavior once icon is active */
    .nav-menu.active {
        left: 0;
    }
}

/* | HERO SECTION | ---------------------------------- */
.hero-container {
    display: flex;
    padding: 20px;
    min-height: 500px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.55)), url(./images/01-roman-forum.jpg);
    background-size: cover;
    background-position: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.hero-left h1, .hero-left p {
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.hero-left p {
    font-size: 1.2rem;
}

.hero-left button {
    padding: 12px 28px;
    background-color: rgb(214, 27, 27);
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 2px 2px 12px rgb(0,0,0);
    margin-bottom: 35px;
}

.hero-right {
    display: flex;
}

.hero-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* keeps image from stretching */
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 2px 2px 12px rgb(0,0,0);

}


@media(max-width: 715px) {
    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left {
        width: 85%;
        margin: 0 25px;
        align-items: center;
    }
}






/* 



.hero-right {
    display: flex;
    min-width: auto;
    flex: 1;
}

 */